/* Contenedor principal */
.chat-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh; /* Ocupa toda la altura de la pantalla */
  width: 100vw; /* Ocupa todo el ancho de la pantalla */
  padding: 20px;
  background: linear-gradient(145deg, #1b2838, #0f1a25);
  font-family: 'Arial', sans-serif;
  color: #000000;
  box-sizing: border-box; /* Incluye padding en el tamaño total */
}

/* Título del chat */
.chat-title {
  text-align: center;
  color: #d1d4db;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: bold;
}

/* Historial del chat */
.chat-history {
  flex: 1; /* Ocupa el espacio restante */
  border: 1px solid #2a475e;
  border-radius: 8px;
  padding: 10px;
  overflow-y: auto;
  background: #101820;
  margin-bottom: 10px; /* Espaciado entre historial y entrada */
}

/* Mensajes */
.chat-message {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Estilo para alinear preguntas y respuestas */
.message-section {
  display: flex;
  align-items: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 8px;
  max-width: 70%;
  word-wrap: break-word;
}

.question {
  background-color: #89c3f7; /* Color de fondo para preguntas */
  margin-left: auto; /* Empuja la pregunta hacia la derecha */
  text-align: right; /* Alinea el texto a la derecha */
}

.response {
  background-color: #61f061; /* Color de fondo para respuestas */
  margin-right: auto; /* Empuja la respuesta hacia la izquierda */
  text-align: left; /* Alinea el texto a la izquierda */
}

.copy-icon {
  cursor: pointer;
  margin-left: 10px;
}

.message-section p {
  white-space: pre-wrap;
  margin: 0;
}

.copy-icon:hover {
  color: #417a9b;
}

/* Contenedor de entrada */
.chat-input-container {
  display: flex;
  align-items: center;
  padding: 10px;
  background-color: #1b2838;
  border: 1px solid #2a475e;
  border-radius: 8px;
}

.chat-input {
  flex: 1;
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  height: 80px;
  resize: none;
  overflow-y: auto;
  background-color: #0f1a25;
  color: #d1d4db;
}

.chat-input:focus {
  outline: none;
}

.send-button {
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  background-color: #66c0f4;
  color: #ffffff;
  cursor: pointer;
  margin-left: 10px;
  transition: background-color 0.2s;
}

.send-button:hover {
  background-color: #417a9b;
}
